<%- include('./partials/header.ejs') %>
    <div class="content">
        <div class="center-container">
            <div class="event-heading">
                <h3 class="dis-in-bl">About Us</h3>
            </div>
            <div class="m-60">
                <p>Amazing Furniture, Even Better Price Tag.</p>
                <p>HomeStop is a platform to buy furniture everything you need.</p>
            </div>
        </div>
    </div>
<%- include('./partials/footer.ejs') %>
